  <div class="cover-image-gv">
      <div class="banner-overlay global">
          <div class="global-logo">
              <img class="logo" src="https://cdn-expa.aiesec.org/assets/images/brand_icons/GV.png" alt="Global Volunteer Logo" />
          </div>
      </div>
  </div>
  <div class="global-body gv-body">
      <div class="static-head-text text-center offwhite-bg"> {{ language.header}}
          <div class="content-text">{{ language.subHeader }}</div>
      </div>
      <div class="main-info flex-container">
          <div class="section-image-left">
              <img class="img-responsive" src="https://cdn-expa.aiesec.org/assets/images/aiesec_org/static_images/gv_benefits_2x.jpg"
                  alt="Benefits of Global Volunteer">
          </div>
          <div class="section-info-right">
              <div class="info-container">
                  <div class="info-content">
                      <div class="info-image">
                          <img src="https://cdn-expa.aiesec.org/assets/images/icons/op_icons/gv-1_v2.svg" alt="Experience new cultures">
                      </div>
                      <div class="info-text">
                          <p class="info-head">{{ language.experience_new_cultures }}</p>
                          <p>{{ language.experience_new_cultures_des }}</p>
                      </div>
                  </div>

                  <div class="info-content">
                      <div class="info-image">
                          <img src="https://cdn-expa.aiesec.org/assets/images/icons/op_icons/gv-2.svg" alt="Make your Impact">
                      </div>
                      <div class="info-text">
                          <p class="info-head">{{ language.make_your_impact }}</p>
                          <p>{{ language.make_your_impact_des }}</p>
                      </div>
                  </div>
                  <div class="info-content">
                      <div class="info-image">
                          <img src="https://cdn-expa.aiesec.org/assets/images/icons/op_icons/gv-3.svg" alt="Challenge yourself">
                      </div>
                      <div class="info-text">
                          <p class="info-head">{{ language.push_yourself_out }}</p>
                          <p>{{ language.push_yourself_out_des }}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="container space-out-section">
          <div class="flex-parent-2">
              <div class="flex-child-2">
                  <h1 class="headings-text-left">{{ language.volunteer_header }}</h1>
                  <p class="content-text"><strong>{{ language.volunteer_question }}</strong></p>
                  <p class="content-text mb30">{{language.volunteer_question_des}}<br><br>
                    {{language.volunteer_question_des1}}
                  </p>
                  <a class="red-underline-btn text-center" target="_blank" href="#">{{}language.learn_more}</a>
              </div>
              <div class="flex-child-2 text-center">
                  <img width="80%" src="https://cdn-expa.aiesec.org/assets/images/aiesec_org/y4gg.gif" alt="Youth 4 Global Goals">
              </div>
          </div>
      </div>

      <div class="offwhite-bg">
          <div class="space-out-section hidden-md-down">
              <div class="container video-card">
                  <div class="flex-parent-2">
                      <div class="flex-child-2">
                          <video width="550" preload="none" controls #videoPlayer>
                              <source src="https://aiesec-bk.oss-cn-hangzhou.aliyuncs.com/Images/AIESEC%20Global%20Volunteer%20Introduction%20Video.mp4"
                                  type="video/mp4" />
                              Browser not supported
                          </video>
                      </div>
                      <div class="flex-child-2">
                          <div class="text-center">
                              <img src="https://cdn-expa.aiesec.org/icons-v2/gv-logo.png" alt="Global Volunteer Logo">
                          </div>
                          <p class="video-text">{{language.video_des}}</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="container space-out-section">
          <div class="flex-parent-2">
              <div class="flex-child-2">
                  <div class="headings-text-left">{{language.gain_section_header}}</div>
                  <ul class="custom-ul-li">
                      <li class="li-1">
                          <div class="content-text">{{language.gain_section_des1}}
                          </div>
                      </li>
                      <li class="li-2">
                          <div class="content-text">{{language.gain_section_des2}}</div>
                      </li>
                      <li class="li-3">
                          <div class="content-text">{{language.gain_section_des3}}</div>
                      </li>
                      <li class="li-4">
                          <div class="content-text">{{language.gain_section_des4}}</div>
                      </li>
                  </ul>
              </div>
              <div class="flex-child-2 text-center">
                  <div class="mission-img">
                      <img src="https://cdn-expa.aiesec.org/assets/images/ldm/LDM_artboard.png" alt="Gain Benefits">
                  </div>
              </div>
          </div>
      </div>

      <div class="count-up-counter ptb60 offwhite-bg">
          <div class="container">
              <div class="flex-parent-3">
                  <div class="flex-child-3 text-center">
                      <img src="https://cdn-expa.aiesec.org/assets/images/icons/op_icons/world-gv-youth.svg" alt="Countries covered">
                      <p>120+</p>
                      <p> {{language.country_covered}} </p>
                  </div>
                  <div class="flex-child-3 text-center">
                      <img src="https://cdn-expa.aiesec.org/assets/images/icons/op_icons/members-gv-youth.svg" alt="Last year experiences">
                      <p>50000+</p>
                      <p>{{language.last_year_experience}} </p>
                  </div>
                  <div class="flex-child-3 text-center">
                      <img src="https://cdn-expa.aiesec.org/assets/images/icons/op_icons/positions-gv-youth.svg" alt="Positions opened">
                      <p>60000+</p>
                      <p>{{language.position_opened}} </p>
                  </div>
              </div>
          </div>
      </div>
      <div class="space-out-section white-bg">
          <div class="four-box-flow">
              <h1 class="italics-heading">{{language.step_header}}</h1>
              <div class="flex-parent-4">
                  <div class="flex-child-4 border-top-red">
                      <h4 class="red-text">1. {{language.signup_connect}}</h4>
                      <p>{{language.signup_connect_des}}</p>
                  </div>
                  <div class="flex-child-4 border-top-red">
                      <h4 class="red-text">2. {{language.search}}</h4>
                      <p>{{language.search_des}}</p>
                  </div>
                  <div class="flex-child-4 border-top-red">
                      <h4 class="red-text">3. {{language.interview}}</h4>
                      <p>{{language.interview_des}}</p>
                  </div>
                  <div class="flex-child-4 border-top-red">
                      <h4 class="red-text">4. {{language.confirm_and_go}}</h4>
                      <p>{{language.confirm_and_go_des}}</p>
                  </div>
              </div>
          </div>
      </div>

      <div class="white-bg">
          <div class="flex-container long-info-section">
              <div class="section-image-left">
                  <img class="img-responsive" src="https://cdn-expa.aiesec.org/assets/images/aiesec_org/static_images/gv_support_2x.jpg"
                      alt="Our Support">
              </div>
              <div class="section-info-right">
                  <div class="info-container">
                      <h1 class="italics-text">{{language.features_header}}</h1>
                      <div class="info-content">
                          <div class="info-image">
                              <img src="https://cdn-expa.aiesec.org/icons/logistics.svg" alt="logistics support">
                          </div>
                          <div class="info-text">
                              <p class="info-head">{{languagelogistic_support}}</p>
                              <p>{{language.logistic_support_des}}</p>
                          </div>
                      </div>

                      <div class="info-content">
                          <div class="info-image">
                              <img src="https://cdn-expa.aiesec.org/icons/description.svg" alt="job description">
                          </div>
                          <div class="info-text">
                              <p class="info-head">{{language.clear_job}}</p>
                              <p>{{language.clear_job_des}}</p>
                          </div>
                      </div>

                      <div class="info-content">
                          <div class="info-image">
                              <img src="https://cdn-expa.aiesec.org/icons/shield.svg" alt="Safe living conditions">
                          </div>
                          <div class="info-text">
                              <p class="info-head">{{language.safe_living_condtion}}</p>
                              <p>{{language.safe_living_condtion_des}}</p>
                          </div>
                      </div>
                      <div class="info-content">
                          <div class="info-image">
                              <img src="https://cdn-expa.aiesec.org/icons/learning.svg" alt="Learning experience">
                          </div>
                          <div class="info-text">
                              <p class="info-head">{{language.learning_experience}}</p>
                              <p>{{language.learning_experience_des}}</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="link-wrapper mtb60">
                  <a class="red-underline-btn" href="#">{{language.view_opportunity}}</a>
              </div>
          </div>
      </div>
  </div>


  <!-- Footer -->
  <footer>
      <div class="hidden-md-down">
          <div class="container">
              <div class="desc">
                  <h6>AIESEC</h6>
                  <p>{{language.AIESEC_des}}</p>
              </div>

              <div class="about">
                  <h6>{{language.about}}</h6>
                  <a routerLink="/about-us"> {{language.about_us}} </a>
                  <a href="#"> {{language.help}} </a>
                  <a href="#"> {{language.blog}} </a>
                  <a href="#"> {{language.press}} </a>
                  <a href="#" target="_blank">
                      Annual
                      Report </a>
              </div>

              <div class="contact">
                  <h6> {{language.youth}} </h6>
                  <a> {{language.global_volunteer}} </a>
                  <a> {{language.global_talent}}</a>
                  <a> {{language.global_entrepreneur}} </a>
                  <a> {{language.youth_for_global}} </a>
                  <a> {{language.youth_speak}} </a>
              </div>

              <div class="partners">
                  <h6> {{language.oraganization}} </h6>
                  <a href="#"> {{language.patner_with_us}} </a>
                  <a href="#"> {{language.global_volunteer}} </a>
                  <a href="#"> {{language.global_talent}} </a>
                  <a href="#"> {{language.global_entrepreneur}} </a>
                  <a href="#"> {{language.perimus_org}} </a>
              </div>

              <div class="membership">
                  <h6> {{language.memberships}} </h6>
                  <a> {{language.join_us}} </a>
                  <a> {{language.find_your_country}} </a>
                  <a href="#" target="_blank"> {{language.alumni}} </a>
              </div>
          </div>

          <div class="container">
              <span>
                  © AIESEC 2018
              </span>
              <span>
                  <a href="#" target="_blank"> {{language.terms_conditions}} </a>
              </span>
              <span>
                  <a href="#" target="_blank"> {{language.cookie_policy}} </a>
              </span>
              <span></span>
              <span class="social-footer">
                  <a href="#" target="_blank"><i class="cm cm-facebook"></i></a>
                  <a href="#" target="_blank"><i class="cm cm-instagram"></i></a>
                  <a href="#" target="_blank"><i class="cm cm-twitter"></i></a>
                  <a href="#" target="_blank"><i class="cm cm-linkedin"></i></a>
                  <a href="#" target="_blank"><i class="cm cm-youtube"></i></a>
              </span>
              <span>
                  <div class="select-box-custom">
                      <div class="custom-footer-select dropup">
                          <select (change)=getLanguage($event)>
                            <option 
                              *ngFor="let language of languageOption" 
                              [value]="language.value"
                            > 
                              {{ language.viewValue }}
                            </option>
                          </select>
                      </div>
                  </div>
              </span>
          </div>
      </div>
  </footer>
  <!-- Footer end -->
