  <div class="cover-image-gv">
      <div class="banner-overlay global">
          <div class="global-logo">
              <img class="logo" src="https://cdn-expa.aiesec.org/assets/images/brand_icons/GV.png" alt="Global Volunteer Logo" />
          </div>
      </div>
  </div>
  <div class="global-body gv-body">
      <div class="static-head-text text-center offwhite-bg"> {{ language.header}}
          <div class="content-text">{{ language.subHeader }}</div>
      </div>
      <div class="main-info flex-container">
          <div class="section-image-left">
              <img class="img-responsive" src="https://cdn-expa.aiesec.org/assets/images/aiesec_org/static_images/gv_benefits_2x.jpg"
                  alt="Benefits of Global Volunteer">
          </div>
          <div class="section-info-right">
              <div class="info-container">
                  <div class="info-content">
                      <div class="info-image">
                          <img src="https://cdn-expa.aiesec.org/assets/images/icons/op_icons/gv-1_v2.svg" alt="Experience new cultures">
                      </div>
                      <div class="info-text">
                          <p class="info-head">{{ language.enc }}</p>
                          <p>There's nothing quite like being in a brand new country, living and volunteering with
                              people
                              from all around. Imagine the things you'd learn!</p>
                      </div>
                  </div>

                  <div class="info-content">
                      <div class="info-image">
                          <img src="https://cdn-expa.aiesec.org/assets/images/icons/op_icons/gv-2.svg" alt="Make your Impact">
                      </div>
                      <div class="info-text">
                          <p class="info-head">Make your impact</p>
                          <p>You can make a difference in the world, it starts with that first step. Contribute
                              towards the Sustainable Development Goals and tackle the issues you're most passionate
                              about.</p>
                      </div>
                  </div>
                  <div class="info-content">
                      <div class="info-image">
                          <img src="https://cdn-expa.aiesec.org/assets/images/icons/op_icons/gv-3.svg" alt="Challenge yourself">
                      </div>
                      <div class="info-text">
                          <p class="info-head">Push yourself out of your comfort zone</p>
                          <p>If you don't try and experience new things, you'll never find your full potential.
                              Challenge yourself, and discover the best version of you.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="container space-out-section">
          <div class="flex-parent-2">
              <div class="flex-child-2">
                  <h1 class="headings-text-left">Volunteer for the Global Goals</h1>
                  <p class="content-text"><strong>Why do we provide Global Volunteer experiences?</strong></p>
                  <p class="content-text mb30">Our Global Volunteer projects around the world exist because as
                      AIESEC, we
                      choose to shape what we do around what the world needs. We have committed to creating a youth
                      movement to achieve the 17 Sustainable Development Goals by the year 2030.<br><br>This all
                      falls
                      under our Youth 4 Global Goals initiative aimed at activating youth to achieve the Sustainable
                      Development Goals.
                  </p>
                  <a class="red-underline-btn text-center" target="_blank" href="#">Learn more</a>
              </div>
              <div class="flex-child-2 text-center">
                  <img width="80%" src="https://cdn-expa.aiesec.org/assets/images/aiesec_org/y4gg.gif" alt="Youth 4 Global Goals">
              </div>
          </div>
      </div>

      <div class="offwhite-bg">
          <div class="space-out-section hidden-md-down">
              <div class="container video-card">
                  <div class="flex-parent-2">
                      <div class="flex-child-2">
                          <video width="550" preload="none" controls #videoPlayer>
                              <source src="https://aiesec-bk.oss-cn-hangzhou.aliyuncs.com/Images/AIESEC%20Global%20Volunteer%20Introduction%20Video.mp4"
                                  type="video/mp4" />
                              Browser not supported
                          </video>
                      </div>
                      <div class="flex-child-2">
                          <div class="text-center">
                              <img src="https://cdn-expa.aiesec.org/icons-v2/gv-logo.png" alt="Global Volunteer Logo">
                          </div>
                          <p class="video-text">When I got here and saw a different reality, it changed me more than
                              I
                              could change them.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="container space-out-section">
          <div class="flex-parent-2">
              <div class="flex-child-2">
                  <div class="headings-text-left">What will you gain?</div>
                  <ul class="custom-ul-li">
                      <li class="li-1">
                          <div class="content-text">Engage with all kinds of people towards achieving a purpose
                              bigger
                              than yourself. It's how you can empower others.
                          </div>
                      </li>
                      <li class="li-2">
                          <div class="content-text">Volunteering abroad isn't easy, but surpassing challenges is what
                              makes it worth it. You learn how to be solution-oriented.</div>
                      </li>
                      <li class="li-3">
                          <div class="content-text">Making your contribution and seeing your impact in real-time will
                              show you that you can indeed make a difference the world. Become that world citizen
                              that's
                              needed more than ever.</div>
                      </li>
                      <li class="li-4">
                          <div class="content-text">Going beyond what you know opens up new worlds for you. Find your
                              values, explore your passions, and become more self-aware.</div>
                      </li>
                  </ul>
              </div>
              <div class="flex-child-2 text-center">
                  <div class="mission-img">
                      <img src="https://cdn-expa.aiesec.org/assets/images/ldm/LDM_artboard.png" alt="Gain Benefits">
                  </div>
              </div>
          </div>
      </div>

      <div class="count-up-counter ptb60 offwhite-bg">
          <div class="container">
              <div class="flex-parent-3">
                  <div class="flex-child-3 text-center">
                      <img src="https://cdn-expa.aiesec.org/assets/images/icons/op_icons/world-gv-youth.svg" alt="Countries covered">
                      <p>120+</p>
                      <p>Countries covered</p>
                  </div>
                  <div class="flex-child-3 text-center">
                      <img src="https://cdn-expa.aiesec.org/assets/images/icons/op_icons/members-gv-youth.svg" alt="Last year experiences">
                      <p>50000+</p>
                      <p>Last year experiences</p>
                  </div>
                  <div class="flex-child-3 text-center">
                      <img src="https://cdn-expa.aiesec.org/assets/images/icons/op_icons/positions-gv-youth.svg" alt="Positions opened">
                      <p>60000+</p>
                      <p>Positions opened</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="space-out-section white-bg">
          <div class="four-box-flow">
              <h1 class="italics-heading">A life-changing experience a few clicks away</h1>
              <div class="flex-parent-4">
                  <div class="flex-child-4 border-top-red">
                      <h4 class="red-text">1. Sign up and connect</h4>
                      <p>Build your profile on the AIESEC Opportunities Portal and we can start matching you with
                          opportunities.</p>
                  </div>
                  <div class="flex-child-4 border-top-red">
                      <h4 class="red-text">2. Search</h4>
                      <p>Filter search results to find the perfect opportunity that fits your skills and interests.</p>
                  </div>
                  <div class="flex-child-4 border-top-red">
                      <h4 class="red-text">3. Interview</h4>
                      <p>Once we find a match, we can start the process of organizing interviews and putting things
                          in
                          place for your internship.</p>
                  </div>
                  <div class="flex-child-4 border-top-red">
                      <h4 class="red-text">4. Confirm and Go</h4>
                      <p>Congratulations! You’ll have made it through the interview. From here we’ll get you prepared
                          for
                          your new adventure.</p>
                  </div>
              </div>
          </div>
      </div>

      <div class="white-bg">
          <div class="flex-container long-info-section">
              <div class="section-image-left">
                  <img class="img-responsive" src="https://cdn-expa.aiesec.org/assets/images/aiesec_org/static_images/gv_support_2x.jpg"
                      alt="Our Support">
              </div>
              <div class="section-info-right">
                  <div class="info-container">
                      <h1 class="italics-text">Feel at ease with our support</h1>
                      <div class="info-content">
                          <div class="info-image">
                              <img src="https://cdn-expa.aiesec.org/icons/logistics.svg" alt="logistics support">
                          </div>
                          <div class="info-text">
                              <p class="info-head">Logistics Support</p>
                              <p>We ensure you get the right visa, arrival pick-up information before your experience
                                  and
                                  departure instructions post-experience.</p>
                          </div>
                      </div>

                      <div class="info-content">
                          <div class="info-image">
                              <img src="https://cdn-expa.aiesec.org/icons/description.svg" alt="job description">
                          </div>
                          <div class="info-text">
                              <p class="info-head">Clear job description</p>
                              <p>We accompany you to the workplace on the first day, ensure your job description and
                                  goals are clear, and working hours/duration align to the initial description.</p>
                          </div>
                      </div>

                      <div class="info-content">
                          <div class="info-image">
                              <img src="https://cdn-expa.aiesec.org/icons/shield.svg" alt="Safe living conditions">
                          </div>
                          <div class="info-text">
                              <p class="info-head">Safe living conditions</p>
                              <p>Life and health insurance is mandatory for taking part in AIESEC. You will get
                                  information about accommodation and basic living costs.</p>
                          </div>
                      </div>
                      <div class="info-content">
                          <div class="info-image">
                              <img src="https://cdn-expa.aiesec.org/icons/learning.svg" alt="Learning experience">
                          </div>
                          <div class="info-text">
                              <p class="info-head">Learning experience</p>
                              <p>We set clear expectations, provide cultural preparation and facilitate learning
                                  spaces
                                  before and during experiences.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="link-wrapper mtb60">
                  <a class="red-underline-btn" href="#">View Opportunities</a>
              </div>
          </div>
      </div>
  </div>


  <!-- Footer -->
  <footer>
      <div class="hidden-md-down">
          <div class="container">
              <div class="desc">
                  <h6>AIESEC</h6>
                  <p>AIESEC is a non-governmental not-for-profit organisation in consultative status with the United
                      Nations Economic and Social Council (ECOSOC), affiliated with the UN DPI, member of ICMYO, and
                      is recognized by UNESCO. AIESEC International Inc. is registered as a Not-for-profit
                      Organisation under the Canadian Not-for-profit Corporations Act - 2018-02-08, Corporation
                      Number: 1055154-6 and Quebec Business Number (NEQ) 1173457178 in Montreal, Quebec, Canada.</p>
              </div>

              <div class="about">
                  <h6>About</h6>
                  <a routerLink="/about-us"> About Us </a>
                  <a href="#"> Help </a>
                  <a href="#"> Blog </a>
                  <a href="#"> Press </a>
                  <a href="#" target="_blank">
                      Annual
                      Report </a>
              </div>

              <div class="contact">
                  <h6> Youth </h6>
                  <a> Global Volunteer </a>
                  <a> Global Talent </a>
                  <a> Global Entrepreneur </a>
                  <a> Youth 4 Global Goals </a>
                  <a> YouthSpeak </a>
              </div>

              <div class="partners">
                  <h6> Organizations </h6>
                  <a href="#"> Partner with us </a>
                  <a href="#"> Global Volunteer </a>
                  <a href="#"> Global Talent </a>
                  <a href="#"> Global Entrepreneur </a>
                  <a href="#"> Premium Organization </a>
              </div>

              <div class="membership">
                  <h6> Membership </h6>
                  <a> Join Us </a>
                  <a> Find your country! </a>
                  <a href="#" target="_blank"> Alumni </a>
              </div>
          </div>

          <div class="container">
              <span>
                  © AIESEC 2018
              </span>
              <span>
                  <a href="#" target="_blank"> Terms & Privacy </a>
              </span>
              <span>
                  <a href="#" target="_blank"> Cookies Policy </a>
              </span>
              <span></span>
              <span class="social-footer">
                  <a href="#" target="_blank"><i class="cm cm-facebook"></i></a>
                  <a href="#" target="_blank"><i class="cm cm-instagram"></i></a>
                  <a href="#" target="_blank"><i class="cm cm-twitter"></i></a>
                  <a href="#" target="_blank"><i class="cm cm-linkedin"></i></a>
                  <a href="#" target="_blank"><i class="cm cm-youtube"></i></a>
              </span>
              <span>
                  <div class="select-box-custom">
                      <div class="custom-footer-select dropup">
                          <select (change)=changeLanguage($event)>
                            <option 
                              *ngFor="let language of languageOption" 
                              [value]="language.value"
                            > 
                              {{ language.viewValue }}
                            </option>
                          </select>
                      </div>
                  </div>
              </span>
          </div>
      </div>
  </footer>
  <!-- Footer end -->